.App {
  padding: 0px 40px;
  background-color: #e3d888;
  height: 100%;
}

.characters_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
}

.form_group {
  margin: 30px 50px;
}

.form_textField {
  padding: 0 7px;
  height: 35px;
}
.form_button {
  height: 39px;
  width: 80px;
}
.button_container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.next_button {
  width: 45%;
  height: 45px;
  margin: 25px 0;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-size: 22px;
  outline: none;
  transition: 1s ease-in-out;
}
.next_button:hover {
  transition: 1s ease-in-out;
  background: #a8a8a8;
}

.header {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo img {
  height: 90px;
  margin: 5px 0px;
}
